.MMM-netatmo .weathericon {
  display: inline-block;
}
.MMM-netatmo .loading,
.MMM-netatmo .loadTimer,
.MMM-netatmo .updated {
  display: inline-block;
}
.MMM-netatmo .textgreen {
  color: #32cd32;
}
.MMM-netatmo .textyellow {
  color: #cacd32;
}
.MMM-netatmo .textpurple {
  color: #361b80;
}
.MMM-netatmo .textorange {
  color: #ffa500;
}
.MMM-netatmo .textred {
  color: #ff0000;
}
 .MMM-netatmo .textdeepred {
  color: #6e0202;
}
.MMM-netatmo .textgray {
  color: #666;
}

.line {
  border-bottom: 1px solid #666;
  margin-top: 2px;
  line-height: 15px;
  color: #999;
}


.MMM-netatmo .bubbles.horizontal {
  display: flex;
  margin-bottom: 3px;
  margin-top: 3px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.MMM-netatmo .bubbles.horizontal.overflow {
  flex-wrap: nowrap;
  justify-content: center;
}

.MMM-netatmo .bubbles.horizontal .module {
  margin-bottom: 3px;
  margin-left: 3px;
  flex-shrink: 0;
}

.MMM-netatmo .bubbles .module {
  margin-bottom: 3px;
  margin-top: 3px;
}

.module .displayTemp {

  text-align: left;
}
.MMM-netatmo .bubbles .module .visual {
  border-radius: 1em;
  box-shadow: 0 0 .9em 1em;
  height: .1em;
  margin: 1.5em auto;
  width: .1em;
}

.MMM-netatmo .bubbles .module .good {
  background-color: #32cd32;
  color: #32cd32;
}
.MMM-netatmo .bubbles .module .average {
  background-color: #ffa500;
  color: #ffa500;
}
.MMM-netatmo .bubbles .module .bad {
  background-color: #ff0000;
  color: #ff0000;
}

.MMM-netatmo .bubbles .module .humidity {
  text-align: center;
  width: 5em;
}
.MMM-netatmo svg.loading {
  height: .6em;
  width: .6em;
}
/* csslint ignore:start */
.MMM-netatmo svg.loading circle {
  cx: 50;
  cy: 50;
  fill: none;
  r: 40;
  stroke-linecap: round;
}
/* csslint ignore:end */
.MMM-netatmo svg.loading .inner {
  stroke: #ffffff;
  stroke-width: 6;
}
.MMM-netatmo svg.loading .outer {
  stroke: #aaaaaa;
  stroke-width: 10;
}
.MMM-netatmo svg.loadTimer {
  height: .5em;
  margin: .2em 0;
  vertical-align: middle;
  width: .5em;
}
.MMM-netatmo svg.loadTimer .loader {
  fill: #000000;
}
.MMM-netatmo svg.loadTimer .border {
  fill: #aaaaaa;
}
.MMM-netatmo .updated {

  padding: 0 .5em;
  vertical-align: middle;
}

.MMM-netatmo .bubbles .module {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto auto;
  /* border: 1px solid red; */
}

.MMM-netatmo .bubbles .module .title {
  grid-column: 1 / 7;
  line-height: .9 ;
}
.MMM-netatmo .bubbles .module .primary {
  grid-column: 1 / 7;
  /* border: 2px solid darkblue;  */
}
.MMM-netatmo .bubbles .module .secondary {
  grid-row: 1 / 3;
  grid-column: 7 / -1;

}

.MMM-netatmo .bubbles .module > div {
  grid-column : 1 / -1;
  /*border: 1px solid yellow; */
}

.MMM-netatmo .bubbles .data_container {
  display: flex;  
  line-height: .8 ;
  /* border: 2px solid green; */

}
.MMM-netatmo .bubbles .data_container_align {
  display: flex;  
  line-height: .8 ;
  align-items: baseline; 
  justify-content: space-around;
  /* border: 2px solid green; */

}
.MMM-netatmo .bubbles .module .data_icon {
  padding-right: 0.1em;
}

.MMM-netatmo .bubbles .data_container .data_left {
  line-height: .8 ;
  /* border: 2px solid white; */

}
.MMM-netatmo .bubbles .data_container .data_right {
  display: flex;
  flex-flow: column nowrap;
 
}

.MMM-netatmo .bubbles .data_container .data_right .data_right_up {
  /*background-color: #96ceb4;	 */
  line-height: .8 ;

}

.MMM-netatmo .bubbles .data_container .data_right .data_right_down {
  margin-top: auto;
  line-height: .8 ;
  margin-left: auto;
  /*background-color: #ff6f69; */
}

.MMM-netatmo .bubbles .data_container .data_right .data_right_down_status {
  margin-top: auto;
  line-height: .8 ;
  margin-left: auto;
  font-size: .1em;
  /*background-color: #ff6f69; */
}

.x-medium {

  font-size:170%;
}

.xxsmall {
  font-size: 10px;
  line-height: 15px;
}

.MMM-netatmo .bubbles .module .name {
  text-align: left;
}

.MMM-netatmo .bubbles .module .displayData {
  display: flex;
  text-align:left;
  justify-content: space-between;
}

.MMM-netatmo .bubbles .module .displayStatus {
  display: flex;
  text-align:left;
  justify-content: space-between;
}

.MMM-netatmo .bubbles .module .displayExtra {
  text-align: center;
  width: 5em;
}
.MMM-netatmo .bubbles .module .displayInfos {
  padding: 0 .5em;
  text-align: left;
  width: 5em;
}

.MMM-netatmo .bubbles .module .displayHum .WindAngle .visual {
  display: inline-block;
}

.MMM-netatmo .bubbles .module .flash {
  animation: flasher 1s linear infinite;
}
@keyframes flasher {
  50% {
    opacity: 0;
  }
}
