<div class="netatmo">
  {% if loaded %}
    <div class="modules {{ 'horizontal' if horizontal }}">
      {% for module in moduleList %}
        <div class="netatmo-module">
          <div class="data">
            <table>
              {% for measurement in module.measurementList %}
                <tr>
                  <td class="small">{{ measurement.label|safe }}</td>
                  <td class="small">
                    <span class="value">{{ measurement.value }}</span>
                    <span class="unit">{{ measurement.unit }}</span>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
          <div class="name {{ fontClassModuleName }}">{{ module.name }}</div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="dimmed light small">
      {{ "LOADING" }}
    </div>
  {% endif %}
</div>
