.netatmo {
  display: inline-block;
}
.netatmo .netatmo-module {
  border: 1px solid #fff;
  border-radius: 0.25em;
  margin: 0.25em;
  overflow: hidden;
}
.netatmo .netatmo-module .name {
  background: #fff;
  color: #000;
  padding: 0.125em 0.25em;
  text-align: center;
}
.netatmo .netatmo-module .data {
  padding: 0.125em 0.25em;
}
.netatmo .horizontal .netatmo-module {
  display: inline-block;
}
