.netatmo {
  display: inline-block;
}
.netatmo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.netatmo ul .primary {
  text-align: right;
}
.netatmo ul .name,
.netatmo ul .secondary,
.netatmo ul .data {
  text-align: left;
}
.netatmo ul .secondary {
  text-align: center;
  width: 5em;
}
.netatmo ul .secondary .co2 .visual {
  border-radius: 1em;
  box-shadow: 0 0 0.9em 1em;
  height: 0.1em;
  margin: 1.5em auto;
  width: 0.1em;
}
.netatmo ul .secondary .co2 .good {
  background-color: limegreen;
  color: limegreen;
}
.netatmo ul .secondary .co2 .average {
  background-color: orange;
  color: orange;
}
.netatmo ul .secondary .co2 .bad {
  background-color: red;
  color: red;
}
.netatmo ul .secondary .co2 .undefined {
  background-color: #000;
  color: #000;
}
.netatmo ul .secondary .wind-angle .visual {
  display: inline-block;
}
.netatmo ul .data {
  width: 8em;
}
.netatmo ul .data .flash {
  animation: flasher 1s linear infinite;
}
.netatmo ul .data .red {
  color: red;
}
@keyframes flasher {
  50% {
    opacity: 0;
  }
}
.netatmo ul .data div * {
  margin: 0 2px;
}
