.netatmo.classic{
	.module{
		display: inline-block;
	}

	.module{
		overflow: hidden;
		margin: .125em .25em;
		border-radius: .25em;
		border: 1px solid @borderColor;

		.name{
			color: @dark;
			text-align: center;
			padding: .125em .25em;
			background: @borderColor;
		}

		.data{
			padding: .125em .25em;
		}
	}
}
