@good: limegreen;
@average: orange;
@bad: red;

.netatmo.bubble{
  .module{
    .name{
      text-align: left;
    }
    .primary{
      text-align: left;
    }
    .secondary{
      .co2{
        .visual{
          width: .1em;
          height: .1em;
          margin: 2em auto;
      		border-radius: 5em;
          box-shadow: 0px 0px 1em 1.4em;
        }
        .value{
          text-align: center;
        }
        .good{
          color: @good;
          background-color: @good;
        }
        .average{
          color: @average;
          background-color: @average;
        }
        .bad{
          color: @bad;
          background-color: @bad;
        }
      }
    }
    .data{
      text-align: left;
    }
  }
  table tr td{
    width: 33.33%;
  }
}
