.netatmo .weathericon {
  display: inline-block;
}
.netatmo .loading,
.netatmo .loadTimer,
.netatmo .updated {
  display: inline-block;
}
.netatmo .textgreen {
  color: #32cd32;
}
.netatmo .textyellow {
  color: #cacd32;
}
.netatmo .textpurple {
  color: #361b80;
}
.netatmo .textorange {
  color: #ffa500;
}
.netatmo .textred {
  color: #ff0000;
}
 .netatmo .textdeepred {
  color: #6e0202;
}
.netatmo .textgray {
  color: #666;
}

.line {
  border-bottom: 1px solid #666;
  line-height: 15px;
  color: #999;
}

.netatmo .bubbles .module {
  margin-bottom: 3px;
  margin-top: 3px;
}

.module .displayTemp {

  text-align: left;
}
.netatmo .bubbles .module .visual {
  border-radius: 1em;
  box-shadow: 0 0 .9em 1em;
  height: .1em;
  margin: 1.5em auto;
  width: .1em;
}
.netatmo .bubbles .module .good {
  background-color: #32cd32;
  color: #32cd32;
}
.netatmo .bubbles .module .average {
  background-color: #ffa500;
  color: #ffa500;
}
.netatmo .bubbles .module .bad {
  background-color: #ff0000;
  color: #ff0000;
}

.netatmo .bubbles .module .humidity {
  text-align: center;
  width: 5em;
}
.netatmo svg.loading {
  height: .6em;
  width: .6em;
}
/* csslint ignore:start */
.netatmo svg.loading circle {
  cx: 50;
  cy: 50;
  fill: none;
  r: 40;
  stroke-linecap: round;
}
/* csslint ignore:end */
.netatmo svg.loading .inner {
  stroke: #ffffff;
  stroke-width: 6;
}
.netatmo svg.loading .outer {
  stroke: #aaaaaa;
  stroke-width: 10;
}
.netatmo svg.loadTimer {
  height: .5em;
  margin: .2em 0;
  vertical-align: middle;
  width: .5em;
}
.netatmo svg.loadTimer .loader {
  fill: #000000;
}
.netatmo svg.loadTimer .border {
  fill: #aaaaaa;
}
.netatmo .updated {

  padding: 0 .5em;
  vertical-align: middle;
}
.netatmo .horizontal .module {
  display: inline-block;
}

.x-medium {
  
  font-size:170%;
}
.netatmo .bubbles .module .name {
  text-align: left;
}
.netatmo .bubbles .module .data {
  text-align: center;
}
.netatmo .bubbles .module .displayHum {
  text-align: center;
  width: 5em;
}
.netatmo .bubbles .module .displayExtra {
  text-align: center;
  width: 5em;
}
.netatmo .bubbles .module .displayInfos {
  padding: 0 .5em;
  text-align: left;
  width: 5em;
}

.netatmo .bubbles .module .displayHum .WindAngle .visual {
  display: inline-block;
}
.netatmo .bubbles .module .data {
  width: 8em;
}
.netatmo .bubbles .module .data .trend{
  display: flex;

  flex-direction: row;
  align-items: baseline;
  /*align-content: space-between;*/
  /*display: inline-block;vertical-align: bottom;*/
}
.netatmo .bubbles .module .data .trend .up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #999; /*normal*/
}
.netatmo .bubbles .module .data .trend .down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #999; /*normal*/
}
.netatmo .bubbles .module .data .trend .stable {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 12px solid #999; /*normal*/
  border-bottom: 6px solid transparent;
}
.netatmo .bubbles .module .data .flash {
  animation: flasher 1s linear infinite;
}
@keyframes flasher {
  50% {
    opacity: 0;
  }
}
