@light: #fff;
@dark: #000;
@dimmed: darken(@light, 33.5%);
@borderColor: @light;

.netatmo{
	display: inline-block;

	.loading, .loadTimer, .updated{
		display: inline-block;
	}
	svg.loading{
		height: .6em;
		width: .6em;

		circle{
			cx: 50;
			cy: 50;
			fill: none;
			r: 40;
			stroke-linecap: round;
		}
		.inner{
			stroke: @light;
			stroke-width: 6;
		}
		.outer{
			stroke: @dimmed;
			stroke-width: 10;
		}
	}
	svg.loadTimer {
		height: .5em;
		margin: .2em 0;
		vertical-align: middle;
		width: .5em;
		.loader{ fill: @dark;}
		.border{ fill: @dimmed}
	}
	.updated{
		margin: .2em 0;
		padding: 0 .5em;
		vertical-align: middle;
	}
}

@import 'netatmo.classic';
@import 'netatmo.bubbles';
